<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/home">Home</a>
            <a href="/agendamento">Agendar Consulta</a>
            <a href="#">Meus Agendamenos</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <section class="main-section">
        <h1>Marque o dia e o horario para sua Consulta</h1>
        <form>
            <div>
                <h2>insira a data</h2>
            <input type="date">
            <h2>Gostaria de agendar horario em qual area de consulta?</h2>
            <select class="form-select" aria-label="Default select example" id="selectMenu">
                <option selected>Checar disponibilidade de horario da:</option>
                <option value="1">Medicina</option>
                <option value="2">Odontologia</option>
                <option value="3">Psicologia</option>
            </select>
            </div>
            <div>
                <h2>Escolha um horario disponivel abaixo:</h2>
                <div id="tabela1">
                    <table>
                        <tr>
                            <td><b>Domingo</b></td>
                            <td><b>Segunda</b></td>
                            <td><b>Terça</b></td>
                            <td><b>Quarta</b></td>
                            <td><b>Quinta</b></td>
                            <td><b>Sexta</b></td>
                            <td><b>Sabado</b></td>
                        </tr>
                        <tr>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                        </tr>
                    </table>
                </div>
                <div id="tabela2">
                    <table>
                        <tr>
                            <td><b>Domingo</b></td>
                            <td><b>Segunda</b></td>
                            <td><b>Terça</b></td>
                            <td><b>Quarta</b></td>
                            <td><b>Quinta</b></td>
                            <td><b>Sexta</b></td>
                            <td><b>Sabado</b></td>
                        </tr>
                        <tr>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                        </tr>
                    </table>
                </div>
                <div id="tabela3">
                    <table>
                        <tr>
                            <td><b>Domingo</b></td>
                            <td><b>Segunda</b></td>
                            <td><b>Terça</b></td>
                            <td><b>Quarta</b></td>
                            <td><b>Quinta</b></td>
                            <td><b>Sexta</b></td>
                            <td><b>Sabado</b></td>
                        </tr>
                        <tr>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                            <td><button type="button">07:00-08:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                            <td><button type="button">08:00-09:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                            <td><button type="button">09:00-10:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                            <td><button type="button">10:00-11:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                            <td><button type="button">11:00-12:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                            <td><button type="button">Indisponivel</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                            <td><button type="button">14:00-15:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                            <td><button type="button">15:00-16:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                            <td><button type="button">16:00-17:00</button></td>
                        </tr>
                        <tr>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                            <td><button type="button">17:00-18:00</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <button>Agendar</button>
        </form>
    </section>
</body>
</html>