<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <link rel="stylesheet" th:href="@{/Principal.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <nav class="nav-bar d-flex">
            <a th:href="@{/home}" class="nav-link me-3 active">Home</a>
            <a th:href="@{/agendamento}" class="nav-link me-3 ">Agendar Consulta</a>
            <a th:href="@{/agenda}" class="nav-link me-3">Meus Agendamentos</a>
        </nav>
    </header>
    <section>
        <div>
            <div class="balloon">
                <h2>S.A.C.</h2>
                <h4>Serviço de Agendamento Clinico</h4>
            </div>
            <div class="balloon-main">
                    <div>
                        <h1>Quem Somos</h1>
                        <p>
                            Bem-vindo à Clínica de Saúde e Bem-Estar do município de Nova Esperança, 
                            um lugar onde a sua saúde e o seu bem-estar são nossa prioridade. Somos uma equipe dedicada de 
                            profissionais de saúde que acreditam no cuidado integral e humanizado. Nossa clínica oferece serviços 
                            abrangentes nas áreas de atendimento médico, odontológico e psicológico, 
                            tudo em um ambiente acolhedor e de confiança.
                        </p>
                    </div>
                    <div>
                        <h1>Nosso proposito</h1>
                        <p>
                            Nosso propósito é proporcionar uma vida mais saudável e equilibrada para a 
                            comunidade de Nova Esperança e arredores. Entendemos que saúde vai além da ausência de doença; 
                            é um estado de completo bem-estar físico, mental e social. Por isso, nos empenhamos em oferecer 
                            cuidados que tratem do corpo e da mente de forma integrada.
                        </p>
                    </div>
                    <div>
                        <b>Atendimento Médico:</b>
                        <p>
                            Nossos médicos estão comprometidos com a excelência no atendimento, 
                            oferecendo diagnósticos precisos e tratamentos eficazes para promover 
                            sua saúde em todas as etapas da vida.
                        </p>
                    </div>
                    <div>
                        <b>Atendimento Odontológico:</b>
                        <p>
                            Nossa equipe de dentistas se dedica a cuidar do seu sorriso com tratamentos 
                            preventivos e restauradores, visando manter sua saúde bucal em dia e sua 
                            autoestima elevada.
                        </p>
                    </div>
                    <div>
                        <b>Atendimento Psicológico:</b>
                        <p>
                            Compreendemos a importância da saúde mental e oferecemos suporte psicológico 
                            para ajudar você a enfrentar os desafios da vida, 
                            promovendo o bem-estar emocional e a qualidade de vida.
                        </p>
                    </div>
                    <div>
                        <p>
                            Na Clínica de Saúde e Bem-Estar de Nova Esperança, você encontrará um espaço onde cada 
                            visita é um passo rumo a uma vida mais saudável e feliz. Estamos aqui para caminhar ao 
                            seu lado nessa jornada, oferecendo um atendimento personalizado e de qualidade.
                        </p>
                    </div>
                        <div>
                            <div>
                                <h1>Precisa de atendimento?</h1>
                                <h2><a href="/agendamento">Marque uma consulta</a></h2>    
                            </div>
                            <div>
                                <h1>Gostaria de verificar seu agendamento?</h1>
                                <h2><a href="/agenda">Consulte seus agendamento</a></h2>    
                            </div>
                        </div>
                </div>
       </div>
    </section>
    <footer>
        <p>&copy;Trabalho feito por Adilson, Alexandre e Gabriel</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-..." crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
</body>
</html>